.start{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: lightcoral;
    width: 365px;
    height: 365px;
}
.blow{
    display: flex;
    justify-content: center;
    gap: 25px;
    /* align-items: center; */
    padding: 11px;
}
.btn{
    height: 5vh;
    border-radius: 7px;
}
.image-section{
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}
.image{
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.NOH8bBZLrC_5WpwupOJNkwHaEX&pid=Api&P=0&h=180');
    height: 50vh;
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    width: 100%;
}
/* .image:hover{
    
} */