*{
    margin: 0;
    padding: 0;
}
:root{
    --primary:rgb(56, 56, 60);
    --secondary:rgb(48, 41, 41);
    --buttonColor:rgb(40, 30, 30);
    --third:rgb(84, 75, 75);
}
.main{
   width: 100%;
  
}
.container{
    width: 100%;
    background: linear-gradient();
    background-color: rgb(0, 0, 0);
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
    scrollbar-width: none;
}
.first-card{
    display: flex;
    width: 100%;
    background-color: rgb(247, 247, 247);
    height: 6vh;
    overflow: scroll;
    position: fixed;
    /* z-index: 99; */
    scrollbar-width: none;
}
.w3-logo{
    padding: 5px;
    margin-left: 5px;
}
.section{
    display: inline-flex;
    flex-direction: row;
    gap: 15px;
}
.section a {
    text-decoration: none;
}
.head11{
    background-color: whitesmoke;
    margin-left: 10px;
    display: flex;
    font-size: 11px;
    font-weight: lighter;
    height: 100%;
    font-family: poppins,sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
}
.head11:hover{
    background-color: rgb(84, 182, 99);
    color: white;
    padding-left: 7px;
    padding-right: 7px;
}
.head1{
    background-color: whitesmoke;
    display: flex;
    font-size: 10px;
    font-weight: lighter;
    height: 100%;
    font-family: poppins,sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
}

.head1:hover{
    background-color: rgb(84, 182, 99);
    color: white;
    padding-left: 7px;
    padding-right: 7px;
}

.head111{
    background-color: whitesmoke;
    display: flex;
    font-size: 10px;
    font-weight: lighter;
    height: 100%;
    font-family: poppins,sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
}
.head111:hover{
    background-color: lightcyan;
    border-radius: 25px;
    width: 105px;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 33px;
}
.search-container {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 45px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
input::placeholder{
    font-size: 10px;
}
form {
    display: flex;
    align-items: center;
}

.search-input {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 3px;
    width: 150px;
    outline: none;
    transition: all 0.3s;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}
.search-icon{
    position: absolute;
    right: 11px;
    color: #959595;
    font-size: 15px;
}
.search-icon:hover{
    color: #1285ff;
    font-size: 17px;
}
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.teacher-icon{
    color: #959595;
    font-size: 10px;
    margin-right: 5px;
}
.teacher-icon:hover{
    color: rgb(108, 98, 98);
}
.sub-icon{
    
    color: rgb(108, 98, 98);
    font-size: 10px;
    margin-right: 5px; 
}
.sub-icon:hover{
    color: #b00000;
    font-size: 12px;
}
.code-icon{
    color: rgb(108, 98, 98);
    font-size: 10px;
    margin-right: 5px; 
}
.code-icon:hover{
    color: lightslategray;
}
.cart-icon{
    color: rgb(108, 98, 98);
    font-size: 10px;
    margin-right: 5px; 
}
.cart-icon:hover{
    color: #1285ff;
}
.btn{
    width: 75px;
    height: 35px;
    border-radius: 50px;
    margin-top: 5px;
    background-color: rgb(9, 140, 9);
    color: rgb(206, 226, 226);
}
.btn:hover{
    background-color: rgb(5, 162, 5);
    color: white;
    font-size: 13px;
}
.btn-1{
    width: 75px;
    height: 35px;
    border-radius: 50px;
    margin-top: 5px;
    background-color: rgb(61, 65, 61);
    color: rgb(206, 226, 226);
}

.btn-1:hover{
    background-color: rgb(15, 22, 15);
    color: white;
    font-size: 13px;
}

.second-card{
    display: flex;
    background-color: rgb(54, 48, 48);
    width: 100%;
    height: 5vh;
    overflow: scroll;
    scrollbar-width: none;
    position: absolute;
    top:40px;
}
.head143{
    display: flex;
    font-size: 10px;
    height: 100%;
    font-weight: 650;
    color: rgb(194, 191, 191);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.head143:hover{
    color: rgb(238, 238, 238);
    background-color: var(--secondary);
    padding-left: 7px;
    padding-right: 7px;
}
.head142{
    display: flex;
    font-size: 10px;
    font-weight: 650;
    height: 100%;
    margin-left: 21px;
    color: rgb(194, 191, 191);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.head142:hover{
    color: rgb(238, 238, 238);
    background-color: var(--secondary);
    padding-left: 7px;
    padding-right: 7px;
}
a{
    text-decoration: none;
}
.section-1{
    display: inline-flex;
    flex-direction: row;
    gap: 31px;
}
.third-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.third-section{
    width: 100%;
    padding-top: 101px;
    background-color: #000000;
}
.plus:hover .third-section{
    background-color: #fff;
}
.third-card-four{
    display: flex;
    padding: 1px;   
}
.box-1{
    background-color: lightcoral;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 11px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
    border-radius: 5px;
}

.box-143{
    background-color: lightcoral;
    width: 30%;
    padding: 11px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 11px;
    border-radius: 5px;
}
.coursearea{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 31px;
    font-weight: 750;
}
.paraarea{
    font-size: 12px;
    font-weight: 50;
    font-family: arial;
    margin-bottom: 21px; 
}
.button-1{
    background-color: var(--buttonColor);
    color: #fff;
    width: 165px;
    height: 35px;
    font-family: sans-serif;
    font-weight: 750;
    border-radius: 45px;
    border: none;
    outline: none;
}
.button-1:hover{
    background-color: var(--third);
}

.box-11{
    background-color: rgb(219, 213, 213);
    width: 13%;
    align-items: center;
    justify-content: center;
    padding: 11px;
    text-align: center;
    margin: 11px;
    border-radius: 5px;
}